@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

*::-webkit-scrollbar {
  width: 0;
  display: none;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
}

@font-face {
  font-family: "OCRBStd";
  src: url("./assets/ocrbstd.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "OCRBStd", sans-serif;
}

button {
  @apply bg-transparent outline-0 border-0 text-sm font-normal text-black flex items-center cursor-pointer disabled:cursor-not-allowed disabled:text-[#a3a3a3];
}

p {
  @apply text-sm font-normal text-black;
}

input {
  @apply text-[#a3a3a3] placeholder:text-[#a3a3a3] bg-transparent ease-in-out duration-200 transition-all border-0 outline-0 focus:border-b focus:border-b-black py-2 w-full;
}
